{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/pizzasales"
    },
    "cloudant": {
      "db": "https://nownedoweentordeciatingl:rBDyswYtXodc4aAdnpWu4aOM@albenturkey.cloudant.com/asd"
    }
  }
}
